<!DOCTYPE html>
<% if flash[:notice] %>
  <div class="notice alert alert-danger alert-radius-override"><%= flash[:notice] %></div>
<% end %> 

<html>
<head>
  <title>Nyborhood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/navbar' %> 



<%= yield %>

<%= render '/layouts/footer' %>

</body>
</html>
